<!--<header class="main-header">-->

    <!-- Logo -->
    <!--<a href="/" class="logo">
        <span class="logo-lg">Khoa Điện</span>
    </a>-->

    <!-- Header Navbar -->
    <!--<nav class="navbar navbar-static-top" role="navigation">-->
        <!-- Sidebar toggle button-->
        <!--<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>-->
        <!-- Navbar Right Menu -->
        <!--<div class="navbar-custom-menu">
            <ul class="nav navbar-nav">-->
                <!-- User Account Menu -->
                <!--<li class="dropdown user user-menu">-->
                    <!-- Menu Toggle Button -->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!-- The user image in the navbar-->
                        <!--<img src="~/Areas/Admin/template_admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <!--<span class="hidden-xs">Tài khoản: Vũ Chung Dũng</span>
                    </a>
                    <ul class="dropdown-menu">-->
                        <!-- Menu Footer-->
                        <!--<li class="user-footer">
                            <a href="/Authen/LogOut" class="btn btn-default btn-flat">Đăng xuất</a>
                        </li>
                    </ul>
                </li>-->
                <!-- Control Sidebar Toggle Button -->
            <!--</ul>
        </div>
    </nav>
</header>-->
<header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
        <span class="logo-lg">Khoa Điện</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="~/Areas/Admin/template_admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">Tài khoản: Vũ Chung Dũng</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <a href="/Authen/LogOut" class="btn btn-default btn-flat">Đăng xuất</a>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
            </ul>
        </div>
    </nav>
</header>