<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang quản trị</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Areas/Admin/template_admin/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/template_admin/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/template_admin/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/template_admin/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/template_admin/dist/css/skins/skin-blue.min.css">
    <script src="~/Areas/Admin/template_admin/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @{ Html.RenderAction("SideBar", "Home");}
        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    Xin chào
                    <small>Chào mừng bạn đến với hệ thống!</small>
                </h1>
            </section>


            <section class="content container-fluid">

                @RenderBody()

            </section>
        </div>
        @Html.Partial("_Footer")
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="~/Areas/Admin/template_admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Areas/Admin/template_admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/template_admin/dist/js/adminlte.min.js"></script>
</body>
</html>