@model IEnumerable<FEE.ViewModel.CategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<script src="~/Areas/Admin/template_admin/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Vietnamese.json'
            },
            "columnDefs": [
                { "orderable": false, "targets": [] },
                { "orderable": true, "targets": [0, 1] }
            ]
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "responsive": true
        });
    });</script>

<section class="content-header">
    <h1>
        QUẢN LÝ
        <small>PHÒNG BAN</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home"><i class="fa fa-dashboard"></i> Trang chính</a></li>
        <li class="active">Phòng ban</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách các phòng ban</h3>
                    <a href="/admin/department/create" style="margin-right:10px;position:absolute;right:0" class="btn btn-success"><i class="fa fa-fw fa-plus"></i>Thêm mới</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th>Tên phòng ban</th>

                                <th style="width:10%">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@item.Name</td>
                                    <td class="text-center">
                                        <a href="/admin/department/update/@item.Id"><i style="color:green" class="fa fa-fw fa-pencil"></i></a>
                                    </td>
                                </tr>
}
                        </tbody>
                        <tfoot>
                            <tr>

                                <th>Tên phòng ban</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


