@model FEE.ViewModel.DepartmentViewModel

@{ 
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml"; 
}

@Html.Partial("_MessageAlert")

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Cập nhật Phòng ban mới</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @using (Html.BeginForm("Update", "Department", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Id, htmlAttributes: new { @style = "display:none", @type = "number" })
            <div class="form-group">
                <label>Tên danh mục:</label>
                @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập tên Phòng ban" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a href="/Admin/Department/Index" class="btn btn-default">Quay lại</a>
            </div>
         }
    </div>
</div>


