@model FEE.ViewModel.SlideViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@Html.Partial("_MessageAlert")
<script src="~/Areas/Admin/template_admin/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Areas/Admin/template_admin/bower_components/ckeditor/ckeditor.js"></script>
<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Thêm Slide mới</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @using (Html.BeginForm("Create", "Slide", FormMethod.Post))
        {          
            <div class="form-group">
                <label>Hình ảnh đại diện:</label>
                <button type="button" class="btn btn-xs btn-default" style="margin-top:2px;margin-left:0px" onclick="chooseImage()">Chọn ảnh</button>
                @Html.TextBoxFor(model => model.Img, htmlAttributes: new { @style = "display:none" })
                @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <img class="img-responsive" style="max-width:60%;text-align:center" id="Img2" src="~/Areas/Admin/template_admin/dist/img/no-image-available.jpg" alt="Ảnh đại diện" />
            </div>
            
            <div class="form-group" style="margin-bottom:0px">
                @Html.CheckBoxFor(model => model.Status)
                <label for="Quiz" style="padding-left: 10px">Hiển thị</label>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
                <a href="/Admin/Slide/Index" class="btn btn-default">Quay lại</a>
            </div>
        }
    </div>
</div>
<script>
    function chooseImage() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            $('#Img').attr('value', fileUrl);
            $('#Img2').attr('src', fileUrl);
        }
        finder.popup();
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avtpreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#Img2").change(function () {
        readURL(this);
    });
</script>

