<div class="header-middle p-0 bg-current xs-text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <a class="pull-left flip sm-pull-center mb-15" href="/Home/Index"><img style="width:100%;padding-top: 10px;" src="~/template-client/images/logo2.png" alt=""></a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget no-border sm-text-center mt-40 mb-40 m-0">
                    <i class="fa fa-envelope text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                    <a href="#" class="font-12 text-white text-uppercase">Email liên hệ</a>
                    <h5 class="font-14 text-white m-0"> fee@utehy.edu.vn</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget no-border sm-text-center mt-40 mb-40 m-0">
                    <i class="fa fa-phone-square text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                    <a href="#" class="font-12 text-white text-uppercase">Điện thoại</a>
                    <h5 class="font-14 text-white m-0"> 03213.713.087</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="widget no-border sm-text-center mt-40 mb-40 m-0">
                    <div class="form-group" style="padding-top:5px;margin-bottom:0px;display:flex">
                        <input type="text" style="font-size:11px;height:32px;border-radius:4px" class="form-control" placeholder="Từ khóa tìm kiếm"/>
                        <a href="#"><i class="fa fa-search" style="padding-top:4px;padding-left:5px;color:white;font-size:24px;font-weight:400;padding-right:10px"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>