<div class="header-top bg-theme-colored sm-text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget no-border m-5 text-white" style="font-size:11px">
                    <i class="fa fa-clock-o text-white"></i> Mở cửa từ:  Thứ 2 - Thứ 7 : 7 giờ 30 phút - 17 giời, Chủ nhật không làm việc
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget no-border m-0">
                    <ul class="list-inline text-right flip sm-text-center mt-5">
                        <li>
                            <a class="text-white" href="#" style="font-size:11px">Facebook</a>
                        </li>
                        <li class="text-white" style="font-size:11px">|</li>
                        <li>
                            <a class="text-white" href="#" style="font-size:11px">Fanpage</a>
                        </li>
                        <li class="text-white" style="font-size:11px">|</li>
                        <li>
                            <a class="text-white" href="#" style="font-size:11px">Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>